name: release
on:
  push:
    tags:
      - '*'

jobs:
  build-server:
    strategy:
      fail-fast: false
      matrix:
        include:
          - platform: ubuntu-22.04
            artifact_name: biodivine-aeon-server
            asset_name: aeon-compute-engine-linux
          - platform: windows-latest
            artifact_name: biodivine-aeon-server.exe
            asset_name: aeon-compute-engine-windows
          - platform: macos-latest
            artifact_name: biodivine-aeon-server
            asset_name: aeon-compute-engine-macos

    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v4
      - name: install Rust stable
        uses: dtolnay/rust-toolchain@stable
      - name: Install packager
        run: cargo install cargo-packager --locked
      - name: Extract version from tag
        id: get_version
        shell: bash
        run: |
          VERSION=${GITHUB_REF#refs/tags/}
          VERSION=${VERSION#v}
          echo "version=$VERSION" >> $GITHUB_OUTPUT
      - name: compile binary
        run: cargo packager --release ${{ matrix.platform == 'macos-latest' && '--config ./packager.macos.toml' || '--config ./packager.toml' }}
      - name: Create compute-engine zip (Linux/macOS)
        if: matrix.platform != 'windows-latest'
        shell: bash
        run: |
          if [ "${{ matrix.platform }}" == "macos-latest" ]; then
            zip compute-engine-${{ steps.get_version.outputs.version }}-macos.zip target/release/biodivine-aeon-server
          else
            zip compute-engine-${{ steps.get_version.outputs.version }}-linux.zip target/release/biodivine-aeon-server
          fi
      - name: Create compute-engine zip (Windows)
        if: matrix.platform == 'windows-latest'
        shell: pwsh
        run: |
          Compress-Archive -Path target/release/biodivine-aeon-server.exe -DestinationPath compute-engine-${{ steps.get_version.outputs.version }}-windows.zip -Force
      - name: Upload binaries to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: "dist/*.{dmg,deb,exe,AppImage}"
          file_glob: true
          overwrite: true
          tag: ${{ github.ref }}
      - name: Upload compute-engine zip to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: "compute-engine-*.zip"
          file_glob: true
          overwrite: true
          tag: ${{ github.ref }}