name: release
on:
  push:
    tags:
      - '*'

jobs:
  build-server:
    strategy:
      fail-fast: false
      matrix:
        include:
          - platform: ubuntu-22.04
            artifact_name: biodivine-aeon-server
            asset_name: aeon-compute-engine-linux
          - platform: windows-latest
            artifact_name: biodivine-aeon-server.exe
            asset_name: aeon-compute-engine-windows
          - platform: macos-latest
            artifact_name: biodivine-aeon-server
            asset_name: aeon-compute-engine-macos

    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v4
      - name: install Rust stable
        uses: dtolnay/rust-toolchain@stable
      - name: compile binary
        run: cargo build --release
      - name: Upload binaries to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: target/release/${{ matrix.artifact_name }}
          asset_name: ${{ matrix.asset_name }}
          tag: ${{ github.ref }}